# Copyright (c) 2026 sharonthecreator
# SPDX-License-Identifier: Apache-2.0

config ZSTNODE_TEST_NUMGEN_SRC
	bool "Number generator source zstnode driver"
	default y
	depends on DT_HAS_ZSTREAMER_ZSTSRC_NUMGEN_ENABLED
	depends on ZSTNODE
	help
	  Enable the number generator source streaming node driver.
	  Produces sequential bytes 0-255 (wrapping) to fill each buffer.

config ZSTNODE_TEST_FAKESINK
	bool "Fake sink zstnode driver"
	default y
	depends on DT_HAS_ZSTREAMER_ZSTSINK_FAKE_ENABLED
	depends on ZSTNODE
	help
	  Enable the fake sink streaming node driver.
	  Discards all received buffer data.
