/*
 * Copyright (c) 2026 sharonthecreator
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	spi_test_bus: spi-emul-test@10000 {
		compatible = "zephyr,spi-emul-controller";
		reg = <0x10000 4>;
		clock-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <0>;

		spi_test_rx: spi-test-rx@0 {
			compatible = "zstreamer,spi-test-peripheral";
			reg = <0>;
			spi-max-frequency = <1000000>;
		};

		spi_test_tx: spi-test-tx@1 {
			compatible = "zstreamer,spi-test-peripheral";
			reg = <1>;
			spi-max-frequency = <1000000>;
		};
	};

	spi_streaming_graph: spi-streaming-graph {
		compatible = "zstreamer,graph";
		#address-cells = <1>;
		#size-cells = <0>;
		buf-num = <8>;
		buffer-size = <1024>;

		spi_source: spi-source@0 {
			compatible = "zstreamer,zstsrc-spi";
			reg = <0>;
			spi-device = <&spi_test_rx>;
			children = <&spi_sinker>;
			rx-length = <64>;
			thread-stack-size = <1024>;
			thread-priority = <5>;
		};

		spi_sinker: spi-sinker@1 {
			compatible = "zstreamer,zstsink-spi";
			reg = <1>;
			spi-device = <&spi_test_tx>;
			thread-stack-size = <1024>;
			thread-priority = <5>;
		};
	};
};
