# Copyright (c) 2026 zstreamer contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig ZSTREAMER
	bool "zstreamer streaming framework"
	select NET_BUF
	help
	  Enable the zstreamer streaming framework module.
	  zstreamer provides a streaming pipeline framework for
	  embedded systems running Zephyr RTOS.

if ZSTREAMER

rsource "lib/zstreamer/Kconfig"
rsource "drivers/zstnode/Kconfig"

endif # ZSTREAMER
