/*
 * Copyright (c) 2026 sharonthecreator
 * SPDX-License-Identifier: Apache-2.0
 *
 * Sine wave generator to pwm (led) sink on Nucleo L432KC.
 */

/ {
	streaming_graph: streaming-graph {
		compatible = "zstreamer,graph";
		buffer-count = <8>;
		buffer-size = <1>;

		sine_source: sine-source {
			compatible = "zstreamer,sine-src";
			cycle-ms = <4000>;
			children = <&pwm_sink>;
		};

		pwm_sink: pwm-sink {
			compatible = "zstreamer,pwm-sink";
			pwms = <&pwm2 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
		};
	};
};


&pwm2 {
	status = "okay";
	pinctrl-0 = <&tim2_ch2_pb3>;
	pinctrl-names = "default";
};
