# Copyright (c) 2026 sharonthecreator
# SPDX-License-Identifier: Apache-2.0

config ZSTREAMER_ADC
	bool

config ZSTREAMER_ADC_SRC
	bool "ADC source driver"
	depends on DT_HAS_ZSTREAMER_ADC_SRC_ENABLED
	depends on ZSTREAMER
	depends on ADC
	select ZSTREAMER_ADC
	help
	  Enable the ADC source streaming node driver.
	  Captures ADC samples using Zephyr's portable ADC API
	  (blocking adc_read in the source thread).
