/*
 * Copyright (c) 2026 sharonthecreator
 * SPDX-License-Identifier: Apache-2.0
 *
 * UART-to-UART relay on native_sim using emulated UARTs.
 */

/ {
	uart_src: uart-emul-src {
		compatible = "zephyr,uart-emul";
		current-speed = <115200>;
		rx-fifo-size = <256>;
		tx-fifo-size = <256>;
		status = "okay";
	};

	uart_sink: uart-emul-sink {
		compatible = "zephyr,uart-emul";
		current-speed = <115200>;
		rx-fifo-size = <256>;
		tx-fifo-size = <256>;
		status = "okay";
	};

	streaming_graph: streaming-graph {
		compatible = "zstreamer,graph";
		buffer-count = <8>;
		buffer-size = <128>;

		uart_source: uart-source {
			compatible = "zstreamer,uart-src";
			uart-device = <&uart_src>;
			children = <&uart_sinker>;
			autostart;
		};

		uart_sinker: uart-sinker {
			compatible = "zstreamer,uart-sink";
			uart-device = <&uart_sink>;
		};
	};
};
