/*
 * Copyright (c) 2026 sharonthecreator
 * SPDX-License-Identifier: Apache-2.0
 *
 * ADC-to-DAC sample on Nucleo U575ZI-Q.
 *
 * Captures dual-channel 12-bit ADC data from PA0 (ADC1_IN0) and
 * PA1 (ADC1_IN1) at ~1 kHz and outputs to DAC1 channels 1 and 2.
 */

&adc1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&dac1 {
	status = "okay";
};

/ {
	streaming_graph: streaming-graph {
		compatible = "zstreamer,graph";
		buffer-count = <8>;
		buffer-size = <512>;

		adc_source: adc-source {
			compatible = "zstreamer,adc-src";
			io-channels = <&adc1 0>, <&adc1 1>;
			sample-rate-hz = <1000>;
			samples = <64>;
			children = <&dac_sinker>;
			autostart;
		};

		dac_sinker: dac-sinker {
			compatible = "zstreamer,dac-sink";
			dac-device = <&dac1>;
			dac-channel-ids = <1 2>;
			dac-resolution = <12>;
		};
	};
};
