# Copyright (c) 2026 sharonthecreator
# SPDX-License-Identifier: Apache-2.0

rsource "uart/Kconfig"

rsource "spi/Kconfig"

rsource "adc/Kconfig"

rsource "i2s/Kconfig"

rsource "dac/Kconfig"

rsource "fs/Kconfig"

rsource "pwm/Kconfig"

rsource "lora/Kconfig"

rsource "gpio/Kconfig"

rsource "util/Kconfig"

rsource "test/Kconfig"
