/*
 * Copyright (c) 2026 sharonthecreator
 * SPDX-License-Identifier: Apache-2.0
 *
 * Number generator to fake sink on Nucleo U575ZI-Q.
 * Software-only pipeline — no hardware dependencies.
 */

/ {
	streaming_graph: streaming-graph {
		compatible = "zstreamer,graph";
		buffer-count = <8>;
		buffer-size = <128>;

		numgen_source: numgen-source {
			compatible = "zstreamer,numgen-src";
			children = <&fake_sinker>;
			autostart;
		};

		fake_sinker: fake-sinker {
			compatible = "zstreamer,fake-sink";
		};
	};
};
