# Copyright (c) 2026 sharonthecreator
# SPDX-License-Identifier: Apache-2.0

config ZSTREAMER_TEST
	bool

config ZSTREAMER_TEST_NUMGEN_SRC
	bool "Number generator source driver"
	depends on DT_HAS_ZSTREAMER_NUMGEN_SRC_ENABLED
	depends on ZSTREAMER
	select ZSTREAMER_TEST
	help
	  Enable the number generator source streaming node driver.
	  Produces sequential bytes 0-255 (wrapping) to fill each buffer.

config ZSTREAMER_TEST_FAKE_SINK
	bool "Fake sink driver"
	depends on DT_HAS_ZSTREAMER_FAKE_SINK_ENABLED
	depends on ZSTREAMER
	select ZSTREAMER_TEST
	help
	  Enable the fake sink streaming node driver.
	  Discards all received buffer data.
