# Copyright (c) 2026 sharonthecreator
# SPDX-License-Identifier: Apache-2.0

config ZSTNODE_FS_SINK
	bool "File system sink zstnode driver"
	default y
	depends on DT_HAS_ZSTREAMER_ZSTSINK_FS_ENABLED
	depends on ZSTNODE
	depends on FILE_SYSTEM
	help
	  Enable the file system sink streaming node driver.
	  Writes streamed data to files, rotating based on time or size.
